body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #efd3d7;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

strong {
    color: #792331;
}

a{
    text-decoration: none;
    color: #313131;
    font-weight: bold;
}