body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #efd3d7;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    display: flex;
}

strong {
    color: #792331;
}

a{
    text-decoration: none;
    color: #313131;
    font-weight: bold;
}

img{
    border-radius: 50px;
}

.maior{
    font-size: 17px;
    font-weight: bold;
    color: #313131;
}

.descricao{
    width: 67%;
    padding: 40px;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
}

.foto-profile{
    padding: 5px;
    background-color: #a85a69;
    border-radius: 50px;
}